# =====================================================
# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Environnements virtuels
env/
venv/
.venv/

# Build
build/
dist/
*.egg-info/

# Ignorer tout le contenu de models_cache
models_cache/*
models_cache/**/*

# Mais garder le dossier lui-même
!models_cache/
!models_cache/.gitkeep

# Tous les modèles téléchargés
checkpoints/
weights/
cache/

# Poids des modèles
*.bin
*.pt
*.pth
*.ckpt
*.safetensors
*.onnx

# Cache Hugging Face
.huggingface/
.cache/
hf_cache/

# IDE
.vde/
.idea/
*.swp

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Tests
.pytest_cache/
.coverage
htmlcov/